Config { font = "xft:Ubuntu:weight=bold:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Mononoki Nerd Font:pixelsize=11:antialias=true:hinting=true"
                           , "xft:Mononoki Nerd Font:pixelsize=11:antialias=true:hinting=true"
                           ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "white"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "/home/kwogga/.dotfiles/xmonad/icons/" -- default: "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 20
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 20
                    , Run Memory ["-t","Mem: <usedratio>%"] 20
                    , Run Date "%d/%m/%Y - %H:%M:%S" "date" 10
                      -- Display trayer icons and resize xmobar depending on number of trayer icons
                    , Run Com "/home/kwogga/.dotfiles/xmonad/trayer-padding-icon" [] "trayerpad" 20
                      -- Display workspaces
                    , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fc=#00cc00><icon=sprout.xbm/></fc>   %StdinReader% }\
                    \<fc=#00ccff>%date%</fc>\
                    \{ %cpu% | %memory% | %eth0% | %trayerpad% "
       }
